/**
* Form elements: Inputs, buttons, etc.
*/

form {
  max-width: 525px;
}

fieldset {
}

legend {
}

input,
button,
select,
textarea {
  display: block;
  width: 100%;
  font-family: $museo;
  padding: 0.375em;
  outline: 0;
  margin-bottom: 1em;

  @include transition(box-shadow 0.3s ease-out, border 0.3s ease-out);
  &:focus {
    border-color: darken($blue, 5%);
    background-color: $white;
    @include box-shadow(0 0 4px rgba($blue, 0.5));
  }

  @include breakpoint(720px) {
    width: 80%;
  }
}

.required {
  color: red;
}


label {
  @include breakpoint(720px) {
    width: 20%;
    float: left;
    text-align: right;
    padding: .375em .5em;
  }
}

.submit,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: auto;
  float: right;
  border: 1px solid #c6c6c6;
  line-height: 1.8em;
  padding: 0 3em;
  background-color: lighten(gray, 30%);
  @include border-radius(2px);

  &:hover {
    background-color: desaturate(lighten($blue, 20%), 55%);
  }

  &:active {

  }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {

  &:focus {

  }
}
