# we use Macs
.DS_Store

# Ignore Compiled files
img
css
.tmp

# Ignore stuff that Jekyll pops out
_site
.jekyll-assets-cache

# Ignore Sass stuff
.sass-cache

# For Grunt npm modules
node_modules
_tmp

# AWS
.aws
.awspublish-iamcarrico

# Composer
vendor
!js/vendor
