name: I. Am. Carrico.
author: http://iamcarrico.com/about/
lsi: false
debug: false

permalink: /writings/:title/
url: http://iamcarrico.com
paginate: 4
paginate_path: "writings/page/:num/"
timezone: America/Chicago
future: true

category_dir: topics
exclude:
  - CONTRIBUTING.md
  - README.md
  - config.rb
  - package.json
  - gulpfile.js
  - node_modules
  - Gemfile
  - Gemfile.lock
  - css
  - LICENSE

markdown: redcarpet
redcarpet:
    extensions: [with_toc_data]

development: false

gems:
  - jekyll-sitemap
  - jekyll-redirect-from

assets:
  dirname: assets
  sources:
    - js
    - css
    - img
    - bower_components
  js_compressor: 'uglifier'
  css_compressor: 'yui'
  cache: true

collections:
  talks:
    output: true
    permalink: /talks/:year/:path/
