name: I. Am. Carrico.
lsi: false
debug: false

permalink: /writings/:title
url: http://iamcarrico.com
paginate: 10
paginate_path: "writings/page/:num"
timezone: America/Chicago
future: false

category_dir: topics
exclude: 
  - CONTRIBUTING.md
  - README.md
  - config.rb
  - package.json
  - gulpfile.js
  - node_modules
  - Gemfile
  - Gemfile.lock
  - css

markdown: redcarpet

development: false

gems:
  - jekyll-sitemap
  - jekyll-redirect-from

assets:
  dirname: assets
  sources:
    - js
    - css
    - img
    - bower_components
  js_compressor: 'uglifier'
  css_compressor: 'yui'
  cache: true

collections:
  talks:
    output: true
    permalink: /talks/:title/index.html
