---
layout: false
permalink: /_headers
eleventyExcludeFromCollections: true
---

# Headers for all sites
/
  Content-Security-Policy: default-src 'self'; script-src 'self' https://static.cloudflareinsights.com [[inline-scripts]];
  X-Frame-Options: DENY
  X-Content-Type-Options: nosniff
  Referrer-Policy: no-referrer
  Permissions-Policy: microphone=(), geolocation=() camera=()

# Production-Only Headers
https://iamcarrico.com
  Strict-Transport-Security: max-age=31536000; includeSubDomains; preload
  Access-Control-Allow-Origin: https://iamcarrico.com
