// Add breakpoint settings.
//
// Breakpoint allows us to embed media queries directly into each rule that
// needs it, rather than forcing a developer to place rules for a single
// component in multiple places depending on the media query they want to
// affect.
//
// @see https://github.com/Team-Sass/breakpoint/wiki
//
// Listed here are named breakpoints. They can vary in complexity, allowing you to
// get rid of the cognitive load behind typing and remembering media queries.
//
// @see https://github.com/Team-Sass/breakpoint/wiki/Respond-To

// $sample-breakpoints: "small-ish" (300px),
//                      "medium-ish" (460px),
//                      "large-ish" (770px),
//                      "extra-large-ish" (1000px);


$breakpoint-no-query-fallbacks: true;
$breakpoint-to-ems: true;

$menu-break: 540px;
$menu-break-lg: 750px;

$about-break: 700px;
