

$white          : #FFFFFF;
$black          : #333333;
$grey           : lighten($black, 70%);
$blue           : #2090B4;

// Base color variables.
$link           : $blue;
$visited        : $link;
$selection-bg   : #66B360;
$selection      : $white;
