// Font sizes
$base-font-size:   16px;
$base-line-height: 24px;
$indent-amount:    2em;

// Fallback stacks
$helvetica: Helvetica, Arial, "Nimbus Sans L", sans-serif;
$georgia:   Georgia, "Times New Roman", "DejaVu Serif", serif;
$courier:   "Courier New", "DejaVu Sans Mono", monospace, sans-serif;

// Project fonts
$playfair: "Playfair Display", $georgia;
$lora:     "Lora", $georgia;
