////////////////////////
// Extendables Partials
//
// All of your extendable classes, ids, and placeholder extendables
//   should go in this file.
////////////////////////

%clearfix {
	@include clearfix;
}

%museo {
  font-family: $museo;
}

%nimbus {
  font-family: $nimbus;
}

%max-width {
  max-width: $max-width;
  margin: 0 auto 0;
}
