/**
* Form elements: Inputs, buttons, etc.
*/

form {
  max-width: 525px;
}

fieldset {
}

legend {
}

input,
button,
select,
textarea {
  display: block;
  width: 100%;
  font-family: $lora;
  padding: 0.375em;
  outline: 0;
  margin-bottom: 1em;

  transition: box-shadow 0.3s ease-out, border 0.3s ease-out;
  &:focus {
    border-color: darken($terracotta, 5%);
    background-color: $white;
    box-shadow: 0 0 4px rgba($terracotta, 0.3);
  }

  @media (min-width: 720px) {
    width: 75%;
  }
}

.required {
  color: $terracotta;
}

label {
  @media (min-width: 720px) {
    width: 25%;
    float: left;
    text-align: right;
    padding: .375em .5em;
  }
}

.submit,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: auto;
  float: right;
  border: 1px solid $grey;
  line-height: 1.8em;
  padding: 0 3em;
  background-color: $white;
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: $terracotta;
    border-color: $terracotta;
    color: #F7F5F2;
  }
}

input[type="text"],
input[type="password"],
input[type="email"],
textarea,
select {
  &:focus {
  }
}
