@use '../config' as *;

/**
* Form elements
*/

form {
  max-width: 525px;
}

fieldset {}
legend {}

input,
button,
select,
textarea {
  display: block;
  width: 100%;
  font-family: $lora;
  padding: 0.375em;
  outline: 0;
  margin-bottom: 1em;

  transition: box-shadow 0.3s ease-out, border 0.3s ease-out;

  &:focus {
    border-color: var(--color-accent-dark);
    background-color: var(--color-bg);
    box-shadow: 0 0 4px var(--color-accent-shadow);
  }

  @media (min-width: 720px) {
    width: 75%;
  }
}

.required {
  color: var(--color-accent);
}

label {
  @media (min-width: 720px) {
    width: 25%;
    float: left;
    text-align: right;
    padding: .375em .5em;
  }
}

.submit,
button,
input[type="submit"],
input[type="reset"],
input[type="button"] {
  width: auto;
  float: right;
  border: 1px solid var(--color-grey);
  line-height: 1.8em;
  padding: 0 3em;
  background-color: var(--color-bg);
  border-radius: 2px;
  cursor: pointer;

  &:hover {
    background-color: var(--color-accent);
    border-color: var(--color-accent);
    color: var(--color-bg);
  }
}
