/**
* Typography: Headings, body text, lists, code, and more for a versatile and durable typography system.
*/

body {
  font-family: $museo;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  //background-color: red;
}


// Headings
//
// To achieve a pleasant vertical rhythm, we use Compass' Vertical Rhythm mixins
// so that the line height of our base font becomes the basic unit of vertical
// measurement. We use multiples of that unit to set the top and bottom margins
// for our block level elements and to set the line heights of any fonts.
// For more information, see http://24ways.org/2006/compose-to-a-vertical-rhythm

#{headings()} {
  @extend %nimbus;
  font-weight: normal;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}


// Links
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
a {
  text-decoration: none;
  @include single-transition(color, .3s);

  &:link {
    color: $link;
  }

  &:visited {
    color: $visited;
  }

  &:hover, &:focus {
    color: mix(#000, $link, 50%);
  }

  &:active, &.active {

  }
}

$color: #2090b4;
a {
  color: $color;
  @include single-transition(color, .3s);

  &:hover {
    color: mix(#000, $color, 50%);
  }

}


// Lists

ul, ol {

}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {

}

ol {

}

li {

}

ul.unstyled,
ol.unstyled {

}

// Misc.

hr {
  height: 1px;
  border: 1px solid #666;
  padding-bottom: -1px;
  margin: rhythm(1) 0;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}


// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::-moz-selection { background: $selection-bg; color: $selection; text-shadow: none; }
::selection { background: $selection-bg; color: $selection; text-shadow: none; }
