/**
* Typography: Headings, body text, lists, code, and more for a versatile and durable typography system.
*/

body {
  @include pt;
  font-size: 17px;
  line-height: 24px;
  color: $black;
}


// Headings
h1, h2, h3, h4, h5, h6 {
  @include pt;
  font-weight: normal;
}

h1 {

}

h2 {

}

h3 {

}

h4 {

}

h5 {

}

h6 {

}


// Links
//
// The order of link states are based on Eric Meyer's article:
// http://meyerweb.com/eric/thoughts/2007/06/11/who-ordered-the-link-states
a {
  text-decoration: none;
  transition: color .3s;
  color: $link;

  &:link {
    color: $link;
  }

  &:visited {
    color: $visited;
  }

  &:hover, &:focus {
    color: mix(#000, $link, 50%);
  }

  &:active, &.active {

  }
}


// Lists

ul, ol {

}

ul ul,
ul ol,
ol ol,
ol ul {
  margin-bottom: 0;
}

ul {

}

ol {

}

li {

}

ul.unstyled,
ol.unstyled {

}

// Misc.

hr {
  border: 0;
  height: 1px;
  background: #333;
  background-image: linear-gradient(to right, #ccc, #333, #ccc);
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

blockquote {
  border-left: 3px $black solid;
  margin-left: 1em;
  padding-left: 0.4em;
  font-style: italic;
}

/**
 * Taken lovingly from https://css-tricks.com/slide-in-image-captions/
 */
figure {
  display: block;
  position: relative;
  overflow: hidden;
}

%shared_figure_styles {
  position: absolute;
  background: rgba(0, 0, 0, 0.75);
  font-size: .9em;
  color: white;
  bottom: 0;
  transition: all 0.4s ease;
}

figcaption {
  @extend %shared_figure_styles;
  padding: 0.1em .25em;
  opacity: 0;
  left: -30%;
  font-style: italic;
}

figure:hover figcaption {
  opacity: 1;
  left: 0;
}

figure:before {
  @extend %shared_figure_styles;
  content: "?";
  width: 24px;
  height: 24px;
  border-radius: 12px;
  text-align: center;
  line-height: 24px;
  opacity: 0.75;
}

figure:hover:before {
  opacity: 0;
}


// Remove text-shadow in selection highlight: h5bp.com/i
// These selection declarations have to be separate
::-moz-selection { background: $selection-bg; color: $selection; text-shadow: none; }
::selection { background: $selection-bg; color: $selection; text-shadow: none; }
