/**
 * The footer partial.
 */

footer {
  background-color: lighten(gray, 40%);
  width: 100%;

  .inner {
    @extend %max-width;
    @extend %clearfix;

    padding: 0 .5em 1em;
    font-size: 1.05em;
  }


  .contact {


    a {
      float: left;
      clear: left;
      padding: .25em 0;
      width: auto;

      &:before {
        vertical-align: middle;
        width: 26px;
        display: inline-block;
        font-size: 21px;
      }
    }
  }

  .copyright {
    padding: .25em 0;
    display: block;
    clear: both;
  }
}
