<footer role="contentinfo">
  <div class="inner">
    <span class="contact">
      <a href="http://github.com/iamcarrico/" target="_blank" class="github">github.com/iamcarrico</a>
      <a href="http://twitter.com/iamcarrico/" target="_blank" class="twitter">twitter.com/iamcarrico</a>
      <a href="http://about.me/iancarrico" target="_blank" class="about-me">about.me/iancarrico</a>
    </span>

    <span class="copyright">
      &copy; {{site.time | date: "%Y"}} Ian Carrico
    </span>
  </div>
</footer>
