<footer role="contentinfo">
  <div class="inner">
    <span class="contact">
      <a href="http://github.com/iamcarrico/" target="_blank" class="github"><span class="icon">github</span> github.com/iamcarrico</a>
      <a href="http://twitter.com/iamcarrico/" target="_blank" class="twitter"><span class="icon">twitter</span> twitter.com/iamcarrico</a>
      <a href="http://about.me/iancarrico" target="_blank" class="about-me"><span class="icon">aboutme</span> about.me/iancarrico</a>
    </span>

    <span class="copyright">
      &copy; {{site.time | date: "%Y"}} Ian Carrico
    </span>
  </div>
</footer>
