<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if page.title %}
  <title>{{ page.title }}</title>
{% else %}
  <title>{{ site.name }}</title>
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% poole_tags %}
{% if page.image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="@iamcarrico">
  <meta name="twitter:creator" content="@iamcarrico">
  <meta name="twitter:title" content="{{ page.title }}">
  <meta name="twitter:description" content="{{ page.description }}">
  <meta name="twitter:image" content="{{ site.url }}/{{ page.image }}">
{% endif %}
<style>{% asset style %}</style>
</head>
<body>
