<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
{% if page.title %}
  <title>{{ page.title }}</title>
{% else %}
  <title>{{ site.name }}</title>
{% endif %}
<meta name="viewport" content="width=device-width, initial-scale=1">
{% poole_tags %}
<script>{% asset header %}</script>
{% if site.development %}
  {% stylesheet style %}
  </head>
  <body>
{% else %}
  <link rel="prefetch" href="{{ site.url }}{% if page.url != site.posts.first.url %}{{ site.posts.first.url }}{% endif %}" />
  <esi:include src="/header.php" />
{% endif %}
