<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if title %}{{ title }}{% else %}{{ site.name }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if description %}<meta name="description" content="{{ description }}">{% endif %}
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
{% if image %}
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:creator" content="{{ site.twitter }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ site.url }}/{{ image }}">
{% endif %}
<link rel="stylesheet" href="/css/style.css">
<script>
  (function () {
    var stored = localStorage.getItem('theme');
    var theme = stored || (window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light');
    document.documentElement.setAttribute('data-theme', theme);
  })();
</script>
