<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{% if title %}{{ title }}{% else %}{{ site.name }}{% endif %}</title>
<meta name="viewport" content="width=device-width, initial-scale=1">
{% if description %}<meta name="description" content="{{ description }}">{% endif %}
<link rel="canonical" href="{{ site.url }}{{ page.url }}">
<link rel="alternate" type="application/rss+xml" title="{{ site.name }}" href="{{ site.url }}/feed.xml">
{% if image %}
  {% set ogImage = image | imageUrl(1200) %}
  <meta property="og:title" content="{{ title }}">
  <meta property="og:description" content="{{ description }}">
  <meta property="og:image" content="{{ site.url }}{{ ogImage }}">
  <meta property="og:url" content="{{ site.url }}{{ page.url }}">
  <meta property="og:type" content="article">
  <meta name="twitter:card" content="summary_large_image">
  <meta name="twitter:site" content="{{ site.twitter }}">
  <meta name="twitter:creator" content="{{ site.twitter }}">
  <meta name="twitter:title" content="{{ title }}">
  <meta name="twitter:description" content="{{ description }}">
  <meta name="twitter:image" content="{{ site.url }}{{ ogImage }}">
{% endif %}
<link rel="stylesheet" href="/css/style.css">
{% inlineScript "js/main.js" %}
