{% if pagination.pages | length > 1 %}
<div class="pagination">
  {% if pagination.href.previous %}
    <a href="{{ pagination.href.previous }}" class="previous">Previous</a>
  {% else %}
    <span class="disabled previous">Previous</span>
  {% endif %}
  <span class="page_number">{{ pagination.pageNumber + 1 }} of {{ pagination.pages | length }}</span>
  {% if pagination.href.next %}
    <a href="{{ pagination.href.next }}" class="next">Next</a>
  {% else %}
    <span class="disabled next">Next</span>
  {% endif %}
</div>
{% endif %}
