@use 'sass:color';
@use '../config' as *;
@use '../global/extendables' as *;

/**
* Footer
*/

footer {
  background-color: color.adjust($white, $lightness: -4%);
  border-top: 1px solid color.adjust($grey, $lightness: 20%);
  width: 100%;
  margin-top: 4em;

  .inner {
    @include clearfix;
    max-width: 48em;
    margin: 0 auto;
    padding: 1.5em 1em;
    font-size: 0.9em;
    color: $grey;
  }

  .contact {
    a {
      display: block;
      padding: .15em 0;
      color: $grey;

      &:hover {
        color: $terracotta;
      }
    }
  }

  .copyright {
    padding: .75em 0 0;
    display: block;
  }
}
