@use '../global/extendables' as *;

/**
* Footer
*/

footer {
  background-color: var(--color-footer-bg);
  border-top: 1px solid var(--color-border);
  width: 100%;
  margin-top: 4em;

  .inner {
    @include clearfix;
    max-width: 48em;
    margin: 0 auto;
    padding: 1.5em 1em;
    font-size: 0.9em;
    color: var(--color-grey);
  }

  .contact {
    a {
      display: block;
      padding: .15em 0;
      color: var(--color-grey);

      &:hover {
        color: var(--color-accent);
      }
    }
  }

  .copyright {
    padding: .75em 0 0;
    display: block;
  }
}
