/**
 * The blog post partial.
 */

.blog-post {

  .title {
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 1.1;
  }

  .hero-image {
    margin-top: 1em;
  }

  &.full {
    float: left;
    width: 100%;
  }

  &.teaser {
    @extend %clearfix;
    margin-bottom: 40px;

    @media (min-width: 400px) {
      .teaser-image {
        float: left;
        max-width: 30%;
        max-height: 200px;
        margin-right: 1em;
      }

      &:nth-child(even) {
        .teaser-image {
          float:right;
        }
      }
    }
  }
}
