@font-face {
  font-family: "pt";
  font-weight: normal;
  font-style: normal;
  src: url('/fonts/pt.eot?1407277128') format("embedded-opentype");
  src: url('/fonts/pt.eot?1407277128#iefix') format("embedded-opentype"), url('/fonts/pt.woff?1394301137') format("woff"), url('/fonts/pt.ttf?1394301137') format("truetype"), url('/fonts/pt.svg?1407277128') format("svg");
}

@font-face {
  font-family: "pt";
  font-weight: normal;
  font-style: italic;
  src: url('/fonts/pt-italic.eot?1407277128') format("embedded-opentype");
  src: url('/fonts/pt-italic.eot?1407277128#iefix') format("embedded-opentype"), url('/fonts/pt-italic.woff?1407277128') format("woff"), url('/fonts/pt-italic.ttf?1407277128') format("truetype"), url('/fonts/pt-italic.svg?1407277128') format("svg");
}
