////////////////////////
// Style File
//
// This file gets turned into style.css. This file should really hold nothing except for imports of your base, global, and design partials.
////////////////////////

////////////////////////
// Base Import
////////////////////////
@import 'config/config';

////////////////////////
// Import Global Stylings
////////////////////////
@import 'global/normalize';
@import 'global/extendables';
@import 'global/syntax';
@import 'global/syntax_overrides';
@import 'global/type';
@import 'global/fonts';
@import 'global/icons';
@import 'global/forms';

////////////////////////
// Import Design Stylings
////////////////////////
@import 'design/header';
@import 'design/main';
@import 'design/about';
@import 'design/contact';
@import 'design/post';
@import 'design/talk';
@import 'design/category';
@import 'design/footer';

////////////////////////
// Import print
////////////////////////
@import 'print';
