---
layout: default
title: Talks
css_id: talks
permalink: /talks/
---

<h2>All my previous talks</h2>

<ul>
  {% for talk in collections.talks %}
    <li><a href="{{ talk.url }}">{{ talk.data.title }}</a> - {{ talk.data.location }} - {{ talk.date | dateFormat("yyyy-MM-dd") }}</li>
    {% if talk.data.links %}
      <ul>
        {% for link in talk.data.links %}
          <li><a href="{{ link.href }}" target="_blank">{{ link.title }}</a></li>
        {% endfor %}
      </ul>
    {% endif %}
  {% endfor %}
</ul>
