<!DOCTYPE html>
<html class="no-js" lang="en-us">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ name }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/style.css">
    <style>.icon { display:none; }</style>
  </head>
<body>

  <header>
    <h1 class="site-name title"><a href="/"><span class="word">I. </span><span class="word">Am. </span><span class="word">Carrico.</span></a></h1>
  </header>

  <main role="main"{% if css_id %} id="{{ css_id }}"{% endif %}>
    {{ content | safe }}
  </main>

  {% include "footer.njk" %}

  {% include "analytics.njk" %}
</body>
</html>
