---
layout: default
---

<article class="blog-post full">
  <h1 class="title">{{ page.title }}</h1>
  <div class="metadatas">
    <span class="categories">
      {% for category in page.categories %}<span class="category">{{ category }}</span> {% endfor %}
    </span>&nbsp;-&nbsp;
    <span class="date">{{page.date | date: "%Y-%m-%d"}}</span>
  </div>
  <div class="content">
    {% if page.image %}
      <img src="/{{ page.image.url }}" alt="{{ page.image.alt }}" class="hero-image">
    {% endif %}
    {{ content }}
  </div>
  {% include comments.html %}
</article>
