---
layout: default
---

<article class="blog-post full">
  <h2 class="title">{{ page.title }}</h2>
  <div class="metadatas">
    <span class="categories">
      {% for category in page.categories %}<span class="category">{{ category }}</span> {% endfor %}
    </span>&nbsp;-&nbsp;
    <span class="date">{{page.date | date: "%Y-%m-%d"}}</span>
  </div>
  <div class="content">
    {{ content }}
  </div>
  <div class="comments">
    <div id="disqus_thread"></div>
    <script type="text/javascript">
      var disqus_shortname = 'iamcarrico';
      (function() {
        var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
        dsq.src = '//' + disqus_shortname + '.disqus.com/embed.js';
        (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
      })();
    </script>
    <noscript>Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <a href="http://disqus.com" class="dsq-brlink">comments powered by <span class="logo-disqus">Disqus</span></a>
  </div>
</article>
