---
layout: default
---

<article class="blog-post full">
  <h1 class="title">{{ title }}</h1>
  <div class="metadatas">
    <span class="categories">
      {% for category in categories %}<span class="category">{{ category }}</span> {% endfor %}
    </span>&nbsp;-&nbsp;
    <span class="date">{{ page.date | dateFormat("DDD") }}</span>
  </div>
  {% if image %}
    <figure class="post-hero">
      <img src="{{ image }}" alt="{{ image_alt or title }}" sizes="(min-width: 48em) 748px, 100vw" loading="eager" decoding="async">
      {% if image_caption %}<figcaption>{{ image_caption | safe }}</figcaption>{% endif %}
    </figure>
  {% endif %}
  <div class="content">
    {{ content | safe }}
  </div>
</article>


{% set latestPost = collections.posts | first %}
{% if latestPost.url != page.url %}
  <div class="latest_writing">
    {% include "latest_writing.njk" %}
  </div>
{% endif %}
