---
layout: default
---

<article class="blog-post full">
  <h1 class="title">{{ title }}</h1>
  <div class="metadatas">
    <span class="categories">
      {% for category in categories %}<span class="category">{{ category }}</span> {% endfor %}
    </span>&nbsp;-&nbsp;
    <span class="date">{{ page.date | dateFormat("yyyy-MM-dd") }}</span>
  </div>
  <div class="content">

    {{ content | safe }}

    {% include "recipe-card.njk" %}
  </div>

</article>
