@import "compass/css3";

@font-face {
  font-family: 'pt';
  font-style: normal;
  font-weight: normal;
  src: inline-font-files("pt.woff", woff);
}

@font-face {
  font-family: 'pt';
  font-style: italic;
  font-weight: normal;
  src: inline-font-files("pt-italic.woff", woff);
}
